*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.swiper-container{
    width: 800px;
    position: relative;
}
.swiper-container button{
    font-size: 46px;
    font-weight: bold;
    background: transparent;
    border: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.swiper-container .next{
    right: 9%;
    width: 10%;
    height: 50%;
    /* box-shadow: -2px 0px 4px red; */
}
.swiper-container .prev{
    left: 9%;
    width: 9%;
    height: 50%;
    /* box-shadow: 2px 0px 4px red; */
}
.swiper-container .swiper-flex-container img{
    width: 95px;
    height: 95px;
    border-radius: 10vmax;
    image-rendering: pixelated;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 0px 4px white;
    outline: 4px solid red;
    outline-offset: 4px;
}
.swiper-container .card{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    row-gap: 10px;
    text-align: center;
    box-shadow: 0px 0px 4px red;
    border-radius: 2vmin;
    position: relative;
}
.swiper-container .swiper-flex-container{
    display: flex;
    column-gap: 20px;
}
.swiper-container .swiper-flex-container .second{
    position: absolute;
    top: 0;
    left: 0;
}
.swiper-container .swiper-flex-container .box[data-active]{
    opacity: 1;
}
.card .card-head-content .name{
    margin-top: 6px;
    font-size: 19px;
    font-weight: bold;    
}
.card .card-head-content .job{
    font-size: 14.5px;
}
.swiper-container .card::before{
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: red;
}
.card .ratings-icons{
    font-size: 24px;
    font-weight: bold;
}
.swiper-container .box{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    opacity: 0;
    transition: all 0.9s linear;
}